*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    padding: 20px;
    border: 10px solid aquamarine;
}
.item{
    color: white;
    background-color: black;
}
.main{
    width: 70vw;
    height: 90vh;
    margin: 5px;
}
.text{
    width: 30vw;
    height: 90vh;
    margin: 5px;
}


